form>div {
    margin: 10px;
}

textarea {
    border: 1px solid #E3E3E3;
}


/* botones carrusel */


/* Filtering table demo */

ngbd-table-filtering span.ngb-highlight {
    background-color: yellow;
}


/* Complete table demo */

ngbd-table-complete span.ngb-highlight {
    background-color: yellow;
}

ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 55%;
    /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.carousel-inner .visually-hidden {
    display: none;
    visibility: hidden;
    z-index: 99;
}

.carousel-control-next {
    color: black;
    background-color: blue;
    z-index: 99;
}

.imgajustada {
    height: auto;
    width: auto;
    max-height: 25vh;
    max-width: 200px;
}


/* Letra form controls negrita */

div>span {
    font-weight: bold;
}