<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="animate__animated animate__fadeInRight animate__faster">
        <div class="d-flex justify-content-center">
            <div class="card col-md-10">
                <div class="card-body">
                    <div>
                        <button class="btn btn-info m-r-10" routerLink="/alumno/nuevostrabajos">Volver</button>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card archivo col-md-2">a</div>
                            <div class="card archivo col-md-2">a</div>
                            <div class="card archivo col-md-2">a</div>
                            <div class="card archivo col-md-2">a</div>
                        </div>
                        <div class="col-md-2">
                            <input type="file" class="custom-file-input" formControlName="imagen" id="fotoperfil" (change)="cambioContenido( $event )">
                            <label class="custom-file-label" for="fotoperfil" data-browse="Elegir"></label>
                            <button class="subidas btn btn-submit">Subir todo</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
