.portada {
    width: 100%;
    height: auto;
    border: 1px solid #000;
}

@supports(object-fit: cover) {
    .portada {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}


/* por defecto la row tiene -15px de margenes */

.row {
    margin-left: 0;
    margin-right: 0;
}

.primeracol,
.segundacol {
    height: 500px;
}

.primeracol {
    padding-left: 4em;
}

.segundacol {
    padding-left: 4em;
}

.rowportada {
    height: 280px;
}

.rowdet {
    height: 30px;
}

.rowdetalles {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
}
