/* DIV QUE ENVUELVE EL CONTENIDO PRINCIPAL */

.todo {
    background: linear-gradient(rgb(0, 217, 255), rgb(255, 255, 255));
}


/* PORTADA */

.portada {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.rowportada {
    height: 280px;
}

@media (min-width: 768px) {}

@supports(object-fit: cover) {
    .portada {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}


/* Estilo barra overflow */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1px;
}


/* TEXTO */

h2 {
    font-size: 28px;
    font-weight: 600;
}

.descripcion {
    margin-top: 2em;
    height: 250px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 25px;
    }
    .nombre {
        font-size: 15px;
    }
    .letrasmall {
        font-size: 12px;
    }
}


/* MEDIA QUERIES DESCRIPCION */

@media (max-width: 622px) {
    .descripcion {
        height: 220px;
    }
}

@media (max-width: 576px) {
    .descripcion {
        height: 190px;
    }
}

@media (max-width: 488px) {
    .descripcion {
        height: 160px;
    }
}

@media (max-width: 437px) {
    .descripcion {
        height: 160px;
    }
}

.nombre {
    font-size: 20px;
}

.letrasmall {
    font-size: 15px;
}


/* por defecto la row tiene -15px de margenes */

.row {
    margin-left: 0;
    margin-right: 0;
}

.primeracol,
.segundacol {
    height: 500px;
}

.primeracol {
    padding-left: 4em;
}

.segundacol {
    padding-left: 4em;
}

.rowdet {
    display: flex;
    flex-direction: column;
}

.rowdetalles {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
}
