/* DIV QUE ENVUELVE EL CONTENIDO PRINCIPAL */

.todo {
    background: linear-gradient(rgb(0, 217, 255), rgb(255, 255, 255));
}


/* PORTADA */

.portadatrabajo {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.rowportada {
    height: 280px;
}

@media (min-width: 768px) {}

@supports(object-fit: cover) {
    .portadatrabajo {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}


/* Estilo barra overflow */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1px;
}


/* TEXTO */

h2 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    text-align: center !important;
}

.descripcion {
    margin-top: 2em;
    height: 250px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 25px;
    }
    .nombre {
        font-size: 15px;
    }
    .letrasmall {
        font-size: 12px;
    }
}


/* MEDIA QUERIES DESCRIPCION */

@media (max-width: 622px) {
    .descripcion {
        height: 220px;
    }
}

@media (max-width: 576px) {
    .descripcion {
        height: 190px;
    }
}

@media (max-width: 488px) {
    .descripcion {
        height: 160px;
    }
}

@media (max-width: 437px) {
    .descripcion {
        height: 160px;
    }
}

.nombre {
    font-size: 20px;
}

.letrasmall {
    font-size: 15px;
}


/* por defecto la row tiene -15px de margenes */

.row {
    margin-left: 0;
    margin-right: 0;
}

.primeracol,
.segundacol {
    height: 500px;
}

.primeracol {
    padding-left: 4em;
}

.segundacol {
    padding-left: 4em;
}

.rowdet {
    display: flex;
    flex-direction: column;
}

.rowdetalles {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
}


/* SLIDER */

@import '~swiper/swiper.min.css';
@import '~swiper/modules/effect-coverflow/effect-coverflow.min.css';
@import '~swiper/modules/pagination/pagination.min.css';
.swipercont {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slidecont {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 360px;
    width: 480px;
    border-radius: 20px;
}
