<div class="container-fluid">
    <!-- Primera fila info general -->
    <div class="row pt-4" *ngIf="!loading">
        <!-- Primera columna titulo descripcion -->
        <div class="col-md-7 primeracol">
            <!-- Row para titulo-->
            <div class="row rowtitulo">
                <h2>{{trabajo.titulo}}</h2>
            </div>
            <div class="row">
                {{trabajo.autor.nombre_apellidos}}
            </div>
            <!-- Row para descripcion -->
            <div class="row">{{trabajo.resumen}}</div>
        </div>
        <!-- Segunda columna Imagen detalles -->
        <div class="col-md-5 segundacol">
            <!-- Row para la imagen -->
            <div class="row">
                <img class="micursor portada rowportada" [src]="crearImagenUrl(trabajo.imagen) " alt="portada ">
            </div>
            <!-- Row para detalles -->
            <div class="row rowdetalles">
                <div class="row rowdet">
                    <p><strong>Área: </strong> &nbsp; {{trabajo.area}}</p>
                </div>
                <div class="row rowdet">
                    <p><strong>Carrera: </strong> &nbsp; {{trabajo.titulacion.nombre}}</p>
                </div>
                <div class="row rowdet">
                    <p><strong>Director investigación: </strong> &nbsp; {{trabajo.director}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contenidos multimedia y extras -->
</div>
