<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="animate__animated animate__fadeInRight animate__faster">
        <div class="d-flex justify-content-center">
            <div class="card col-md-10">
                <div class="card-body">
                    <div>
                        <button class="btn btn-info m-r-10" [disabled]="!datosForm.pristine" routerLink="/admin/trabajos">Volver</button>
                    </div>
                    <form class="form-horizontal m-t-20" [formGroup]="datosForm" (ngSubmit)="enviar()">
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Autor</span>
                            </div>
                            <div class="col-lg-8 col-md-12 ">
                                <input #txtQuery (keyup)="cargarAlumnos(txtQuery.value)" autocomplete="off" class="form-control" type="text" name="autor" formControlName="autor" placeholder="Busca o crea un alumno" value={{nombreAlu}}>
                                <!-- RESULTADOS -->
                                <div *ngIf="loading" class="alert alert-primary mt-2 text-center">
                                    <h6>Cargando</h6>
                                    <span>Espere por favor...</span>
                                </div>
                                <ul class="list-group mt-2 porencima" *ngIf="ultimaBusqueda.length>2">
                                    <li *ngFor="let alumno of listaAlumnos" class="list-group-item list-group-item-action micursor" (click)="esteLugar( alumno )">
                                        <h6>{{ alumno.nombre_apellidos }}</h6>
                                        <p>{{ alumno.email }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class=" row m-t-10 ">
                            <div class="col-lg-3 col-md-12 text-lg-right ">
                                <span class=" ">Título</span>
                            </div>
                            <div class="col-lg-8 col-md-12 ">
                                <input type="text " class="form-control " formControlName="titulo" [ngClass]="{ 'is-invalid' : campoNoValido( 'titulo')} " id="titulo ">
                                <div class="invalid-feedback ">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>

                        <div class=" row m-t-10 ">
                            <div class="col-lg-3 col-md-12 text-lg-right ">
                                <span class=" ">Titulación</span>
                            </div>
                            <div class="col-lg-8 col-md-12 ">
                                <input #txtQuery2 (keyup)="cargarTitulaciones(txtQuery2.value)" autocomplete="off" class="form-control" type="text" name="titulacion" formControlName="titulacion" placeholder="Busca y selecciona una titulación" value={{nombreTitu}}>
                                <!-- RESULTADOS -->
                                <div *ngIf="loading2" class="alert alert-primary mt-2 text-center">
                                    <h6>Cargando</h6>
                                    <span>Espere por favor...</span>
                                </div>
                                <ul class="list-group mt-2 porencima" *ngIf="ultimaBusqueda2.length>2">
                                    <li *ngFor="let titulacion of listaTitulaciones" class="list-group-item list-group-item-action micursor" (click)="esteLugar2( titulacion )">
                                        <h6>{{ titulacion.nombre }}</h6>
                                        <p>{{ titulacion.area }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center m-t-10 ">
                            <div class="align-content-center ">
                                <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosForm.pristine">Enviar</button>
                                <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
