<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="animate__animated animate__fadeInRight animate__faster">
        <div class="d-flex justify-content-center">
            <div class="card col-md-10">
                <div class="card-body">
                    <div>
                        <button class="btn btn-info m-r-10" [disabled]="!datosForm.pristine" routerLink="/admin/trabajos">Volver</button>
                    </div>
                    <form class="form-horizontal m-t-20" [formGroup]="datosForm" (ngSubmit)="enviar()">
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Autor</span>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" class="form-control" formControlName="autor" [ngClass]="{'is-invalid' : campoNoValido('autor')}" id="autor">
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class=" row m-t-10 ">
                            <div class="col-lg-3 col-md-12 text-lg-right ">
                                <span class=" ">Título</span>
                            </div>
                            <div class="col-lg-8 col-md-12 ">
                                <input type="text " class="form-control " formControlName="titulo" [ngClass]="{ 'is-invalid' : campoNoValido( 'titulo')} " id="titulo ">
                                <div class="invalid-feedback ">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-3 col-md-12 text-lg-right">
                                <span class="">Director</span>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <input type="text" class="form-control " formControlName="director" [ngClass]="{'is-invalid' : campoNoValido('director')}" id="director">
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>

                        <div class=" row m-t-10 ">
                            <div class="col-lg-3 col-md-12 text-lg-right ">
                                <span class=" ">Tipo</span>
                            </div>
                            <div class="col-lg-8 col-md-12 ">
                                <select class="select2 form-control custom-select" formControlName="tipo" [ngClass]="{'is-invalid' : campoNoValido('tipo')}" style="width: 100%; height:36px;" id="tipo">
                              <option value="TFG" selected>TFG</option>
                              <option value="TFM" selected>TFM</option>
                          </select>
                                <div class="invalid-feedback">
                                    El campo es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center m-t-10 ">
                            <div class="align-content-center ">
                                <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosForm.pristine">Enviar</button>
                                <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>