/* HEADER */

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

/* body {
    background-color: #eee;
} */

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff;
}

.navbar-toggler {
    /* padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid white;*/
    background-color: transparent;
    border: none;
}

.nav-link {
    color: #fff !important;
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    /* background-color: #000; */
    background-color: rgba(181, 68, 226, 0.62);
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px;
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-red {
    /* background-color: red; */
    background-color: rgba(26, 23, 196, 0.62);
    color: #fff;
}

.all-show {
    z-index: 10;
}

.navbar-toggler-icon {
    /* color: #eee; */
    border: none;
    background-color: transparent;
}


/*  Carrousel: su estilo viene en slide.css de assets */


/* Fondo gradiente animado */


/* body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

#one {
    margin-bottom: 100px;
}
