/* HEADER */

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

/* body {
    background-color: #eee;
} */

nav {
    background-color: blue;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff;
}

.navbar-toggler {
    /* padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid white;*/
    background-color: transparent;
    border: none;
}

.nav-link {
    color: #fff !important;
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    /* background-color: #000; */
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px;
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-red {
    /* background-color: red; */
    color: #fff;
}

.all-show {
    z-index: 10;
}

.navbar-toggler-icon {
    /* color: #eee; */
    border: none;
    background-color: transparent;
}

.filaheader {
    margin-left: 1em;
}


/* FONDO */

.bodylanding {
    background: linear-gradient(-45deg, #ffffff, #ffffffc7, #ffffff81, rgba(138, 138, 138, 0.192)) !important;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
