<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
    <div class="wrapper">

    </div>
    <div class="container-fluid all-show">
        <a class="navbar-brand" href="#">Showroom UA <i class="fa fa-codepen"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categorías</a>
                </li>
            </ul>
            <div class="d-flex flex-column col-md-2">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column col-md-2 ">
                <div>
                    <div>
                        <div class="input-group">
                            <i class="now-ui-icons users_single-02"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>
<!-- Carrousel -->
<div class="slide-carousel" id="one">
    <div class="arrow-left">&lsaquo;</div>
    <div class="arrow-right">&rsaquo;</div>
    <div class="slides">
        <div class="slide" id="slide1"><span class="title"></span></div>
        <div class="slide" id="slide2"><span class="title"></span></div>
        <div class="slide" id="slide3"><span class="title"></span></div>
        <div class="slide" id="slide4"><span class="title"></span></div>
        <div class="slide" id="slide5"><span class="title"></span></div>
    </div>
    <div class="auto-play">
        <i class="fas fa-play" id="play-slider"></i>
        <i class="fas fa-pause" id="pause-slider"></i>
    </div>
    <!-- <div class="dots"></div> -->
</div>
