<div *ngIf="!loading" class="bodylanding">
    <!-- HEADER -->
    <script>
        $(function() {
            $(window).on('scroll', function() {
                if ($(window).scrollTop() > 10) {
                    myID.className = "bottomMenu show"
                } else {
                    $('.navbar').removeClass('active');
                }
            });
        });
    </script>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid all-show">
            <a class="navbar-brand" href="#">
                <img src="./assets/img/favicon.png" width="100" height="30" class="d-inline-block align-top" alt="Logo" />
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="col-md-1 navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Inicio</a></li>
                    <li class="nav-item">
                        <a *ngIf="listatitu" (click)="cambiotitu()" class="nav-link dropdown-toggle text-uppercase font-weight-bold micursor" aria-haspopup="true" aria-expanded="false">Titulaciones</a>
                        <a *ngIf="!listatitu" (click)="cambiotitu()" class="nav-link dropdown-toggle text-uppercase font-weight-bold micursor" aria-haspopup="true" aria-expanded="true">Titulaciones</a>
                    </li>
                </ul>
                <ul class="col-md-4 mx-auto navbar-nav input-group no-border">
                    <input #txtQuery (keyup)="cargarUsuarios(txtQuery.value)" class="form-control" autocomplete="off" placeholder="Busca...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </div>
                    </div>
                </ul>
                <ul class="col-md-1 navbar-nav">
                    <li class="nav-item dropdown usuario">
                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="now-ui-icons users_single-02"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item micursor justify-content-sm-center  " data-toggle="modal" data-target="#modalLogin"><strong>Login</strong></a>
                            <a *ngIf="rol!=''" class="dropdown-item" routerLink="/cliente/perfil"><i class="fa fa-address-card m-r-5 m-l-5"></i> Mi Perfil</a>
                            <div *ngIf="rol!=''" class="dropdown-divider"></div>
                            <a *ngIf="rol!=''" class="dropdown-item micursor" (click)="logout()"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Se despliega cuando listatitu esta a false -->
    <div class="row pl-2 pr-2 desplegabletitu justify-content-center" [ngClass]=" { 'display': listatitu} ">
        <div [ngClass]=" { 'display': listatitu} " class="col-md-2 divtitu " *ngFor="let titulacion of listaTitulaciones ">
            <img [src]="crearUrlTitulacion(titulacion.imagen) " alt="titulacion " class="img-thumbnail rounded-circle " width="50 " height="50 ">
            <div class="nombretitu ">{{titulacion.nombre}}</div>
        </div>
    </div>

    <router-outlet></router-outlet>


    <!-- Modal Login -->
    <div class="container ">
        <app-login2></app-login2>
    </div>
</div>
