<div class="row justify-content-center">
    <!-- <div class="col-md-1 primeracol">aaaaaa</div> -->
    <div class="col-md-10  segundacol">
        <!-- Fila buscador -->
        <div class="row mt-12 mb-10 align-items-center">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
            </div>
        </div>
        <!-- Primera fila trabajos, con margenes a los lados izda dcha -->
        <div class="row ml-4 mr-4">
            <!-- <ng-template *ngFor="let trabajo of listaTrabajos; let i=index"> -->
            <!-- <div class="trabajo">
                    <div class="card">
                        <h5>{{trabajo.titulo}}</h5>
                        <h5>{{trabajo.autor.nombre_apellidos}}</h5>
                    </div>
                </div> -->
            <!-- </ng-template> -->
            <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
                <ng-template *ngFor="let trabajo of listaTrabajos; let i=index" swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img class="portada" [src]="crearImagenUrl(trabajo.imagen)" alt="portada">
                        </div>
                    </div>
                </ng-template>
                <!-- <ng-template swiperSlide>Slide 2</ng-template>
                <ng-template swiperSlide>Slide 3</ng-template>
                <ng-template swiperSlide>Slide 1</ng-template>
                <ng-template swiperSlide>Slide 2</ng-template>
                <ng-template swiperSlide>Slide 3</ng-template>
                <ng-template swiperSlide>Slide 1</ng-template>
                <ng-template swiperSlide>Slide 2</ng-template>
                <ng-template swiperSlide>Slide 3</ng-template> -->
            </swiper>
        </div>
    </div>
    <!-- <div class="col-md-1 terceracol">aaaaaa</div> -->
</div>
